@use "abstracts/variable";

.theme-light {
    --primary: #25c866;
    --interactive: #0076f3;
    --white: #fff;
    --secondary: #7e8088;
    --surface: #11150f;
    --red: #d33535;
    --critical: #f53966;
    --remake: #f5c738;
    --line: #393737;
    --menuDark: #222223;
    --backdrop: #131317;
    --shadow1: 0px 5.31717px 13.29293px 0px rgba(0, 0, 0, 0.05);
}
.theme-light {
    background-color: variable.$white;
    color: variable.$secondary;

    .modal-backdrop {
        &.show {
            opacity: 0.5;
        }
    }
}
